body {
    margin: 0;
    padding: 0;
    font: 13px/15px Helvetica, Arial, sans-serif;
    color: #4d4d4d;
	width: 480px;
	background-color: #373737;
}

h1 {
	margin: 0 0 5px 0;
	padding: 0;
	text-indent: -3000px;                 
    background: url(images/spotifyBar.jpg);  
    height: 64px;
    width:  480px;
	white-space: nowrap;
}

#content, #searchForm { margin-bottom: 5px; }
#searchText {width: 210px; margin-left: 18px;}

ul{padding:0;list-style:square;}
li{padding:0 0 0 18px; margin-top:3px; font: 8px;}
li:first-child{margin-top:0;}
li:hover { background: #212121;}
.alternate {background: #303030;}

p, a {font-family: "lucida grande",tahoma,arial,sans-serif; outline: none;}
p { color: #8F8F8F; }
a, label { color: #b3b3b3; text-decoration: none; cursor: pointer;}
a:hover { color: #c0f479; }